body {
  background-color: #10131a;
  color: #e1e2eb;
  overflow-x: hidden;
  cursor: crosshair;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #10131a;
}

::-webkit-scrollbar-thumb {
  background: #00d4ff;
}

.terminal-cursor::after {
  content: '_';
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
